#input_box{
    width:  460px;
    height: 30px;
    border-radius: 60px;
    border: 1px solid #cecece;
    padding: 0px 100px 0px 10px !important;

}

#search_button{
    border-radius: 60px;
    width: 100px;
    height: 34px;
    margin-left: -102px;
    margin-top: 1px;
    background-color:  #11acbd;
}


#content{
    border: 1px solid #cecece;
    padding: 30px;
    margin: 50px 30px 0px 30px;
}

h1{
    background: linear-gradient(to right, #11acbd , #fff);
    margin: -13px 15px 0px -14px;
    padding: 0px 30px 0px 20px;
    width: 90%;
}

#font1{
    font-size: 28px;
    color: #ffffff;
}

#keywords_font{
    font-size: 26px;
    color: #353434;
    margin-left: 20px;
}

#results{
    margin: 30px;
    border-collapse: collapse;
    text-align: center;
}

#search_history{
    margin:  50px 30px 0px 30px;
    padding: 40px;
}

#history_table{
    margin: 10px 30px;
}

#tr1{
    height: 40px;
    background-color: #f1f1f1;
}

#tr2{
    height: 40px;
}

#td1{
    border: 1px solid #cecece;
    width: 300px;
}

#td2{
    border: 1px solid #cecece;
    width: 300px;
}
