body{
    background: url("../../assets/image/waldoge_1.jpg") no-repeat center center fixed;
    background-size: cover;
}

#login_form{
    top: 0px;
    right: 20px;
    height: 80px;
    text-align: right;
    position: relative;
}

#login_button, #user_name{
    border-radius: 90px;
}
#user_email{
    border-radius: 90px;
    font-size: 14px;
}
#search_form{
    position: relative;
    left:20px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#input_box{
    width:  450px;
    height: 50px;
    border-radius: 60px;
    border: 1px solid #cecece;
    padding: 0px 100px 0px 20px;
    font-size: 16px;

}

#search_button{
    border-radius: 60px;
    width: 140px;
    height: 48px;
    font-size: 16px;
    margin-left: -102px;
    background-color:  #11acbd;
}

h1{
    background: linear-gradient(to right, #11acbd , #fff);
    position: relative;
    top: 10px;
    left: 30px;
    margin: -5px 15px 20px 10px;
    padding: 3px 30px 3px 20px;
    width: 90%;
}

h2, h3{
    background-color: white;
}
div.row{
    float: left;
    position: relative;
}
.column1{
    float: left;
    width: 40%;
    padding: 15px;   
    position: relative;
    top:20px;
    left:30px;
}
.column2{
    float: left;
    width: 90%;
    padding: 15px;   
    position: relative;
    top:20px;
    left:30px;
}

@media screen and (max-width:600px) {
    div.column {
        width: 100%;
    }
}

#font1{
    font-size: 28px;
    color: #ffffff;
}

#keywords_font{
    font-size: 26px;
    color: #353434;
    margin-left: 20px;
}

table{
    margin: 30px;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
    word-wrap: break-word;
}

tr{
    height: 40px;
    background-color: #f1f1f1;
}

th{
    background-color: white;
    border: 1px solid black;
}

td{
    background-color: white;
    border:1px solid black;
}